<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="myApp">
<head>
        <title>{{ TITLE }}</title>

        <link href="//fonts.googleapis.com/css?family=Titillium+Web:400,600" rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="css/styles.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
        <!-- <script src="js/angular.min.js"></script> -->
        <script src="js/controller.js"></script>

</head>

<!-- Google tag (gtag.js)  Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-N4CXPDJD0Z"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-N4CXPDJD0Z');
</script>

<body ng-controller="ContactController">


<noscript>
<div style="height: 100%; width: 100%;top: 0; position:absolute; left: 0; border: 0; z-index:200;background:#FFFFFF;color:red;">
<center><h2>Javascript est n&eacute;cessaire. / Javascript is required.</h2></center>
</div>
</noscript>

<center>

<h1>{{ TITLE }}</h1>

    <form name="criteria" novalidate>
        <div class="criterion">
    <fieldset>
            <legend>{{ SELECTION_CRITERION }}</legend>

            <center>
    <table class="criteria">
            <tr>
                <!-- <td>
                    <b>{{ MINIMUM_REQUIREMENTS }}</b><br/>
        {{ 'DOWNLOAD_SPEED' }} (Mbps) : <input type="number" size="6" ng-model="min_down_speed" name="min_down_speed" min="0" max="100" value="0" integer /><br/>
        {{ 'BANDWIDTH' }} (GB) : <input type="number" size="6" ng-model="min_download_limit" name="min_download_limit" min="0" max="100" value="0" integer />


            </td> -->
    <!-- <td></td> -->
            <!-- <td> -->

                    <!-- <b>{{ BUDGET }}</b><br/>
        {{ 'MAXIMUM_MONTHLY_FEE' }} ({{ 'DOLLAR_MONTH' }}) : <input type="number" size="6" ng-model="montly_fee" name="montly_fee" min="0" max="200" integer /><br/>

            </td> -->
            <td></td>
                    <!-- <td>
                        <b>{{ ORDER_BY }}</b><br/>

                        <input type="radio" ng-model="sort" name="order_by" id="order_by_price" value="order_by_price" ng-click="predicate = ['i_price','down_speed','limit'];" ng-checked="true">
                        <label for="order_by_price">{{ 'LOWEST_PRICE' }}</label><br/>

                        <input type="radio" ng-model="sort" name="order_by" id="order_by_limit" value="order_by_limit" ng-click="predicate = ['limit','i_price','down_speed'];">
                        <label for="order_by_limit">{{ 'HIGHEST_BANDWIDTH_LIMIT' }}</label><br/>

                        <input type="radio" ng-model="sort" name="order_by" id="order_by_down_speed" value="order_by_down_speed" ng-click="predicate = ['down_speed','i_price','limit'];">
                        <label for="order_by_speed">{{ 'FASTEST_SPEED' }}</label><br/>

                    </td> -->

                <td>
                    <b>{{ SERVICE_TYPE }}</b><br/>
                    <label><input type="radio" ng-model="service_type" name="service_type" id="service_nbn" value="nbn" checked>{{ NBN }}</label><br/>
                    <label><input type="radio" ng-model="service_type" name="service_type" id="service_vision" value="vision" >{{ VISION }}</label><br/>
                </td>
            </tr>
    </table>
</center>
</fieldset>
             </div>

        </form>
  <br/>

  <table class="contact-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Website</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="contact in contacts | orderBy:'name'">
            <td style="text-align:left">{{contact.name}}</td>
            <td>{{contact.phone}}</td>
            <td><a href="{{contact.website}}" target="_blank">Visit Website</a></td>
        </tr>
    </tbody>
</table>

  <!-- <table class='contact-table'>
        <th></th>
        <th>{{ 'PLAN_NAME' }}</th>
        <th>{{ 'DOWNLOAD' }}<br/><small>(Mbps)</small></th>
        <th>{{ 'UPLOAD' }}<br/><small>(Mbps)</small></th>
        <th>{{ 'BANDWIDTH_LIMIT' }}<br/><small>({{ 'GB_MONTH' }})</small></th>
        <th>{{ 'MONTHLY_FEE' }}<br/><small>({{ 'DOLLAR_MONTH' }})</small></th>
        <th></th>

    <tr ng-repeat="contact in contacts | filter:criteriaMatch() | orderBy:predicate:true"  ng-class-odd="'tr_odd'">
      <td><img src="{{plan.icon}}" height="16" width="16"/></td>
      <td style="text-align:left">{{plan.isp}} {{plan.name}}</td>
      <td>{{plan.down_speed}}</td>
      <td>{{plan.up_speed}}</td>
      <td>{{(plan.limit == null) && '&#8734;' || plan.limit}}</td>
      <td>{{plan.price}}</td>
      <td><a href="{{plan.link}}" target="_blank">{{ MORE_DETAILS }}</a></td>
    </tr> -->

    <tr ng-hide="(contacts | filter:criteriaMatch()).length">
        <td colspan="7">
                <h3>{{ NO_PLAN_FOUND }} :(<br/>{{ NO_PLAN_FOUND_TIP }}</h3>
        </td>
    </tr>
  </table>



  </center>

    <br/>
    <div ng-bind-html-unsafe="{{ FOOTNOTES }}" class="footer">
    </div>


    <!-- Social links -->
    <div id="social" style="position: fixed; bottom: 20px; left: 20px; z-index:100;">
        <div class="social_box" style="
            background: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            padding: 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            max-width: 200px;
            width: fit-content;">
            
       
            <b>{{ TIP_MSG }}</b>          

            <a href="https://www.buymeacoffee.com/123youbeatme" target="_blank" rel="noopener noreferrer">
                <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" 
                     alt="Buy Me a Coffee" 
                     style="height: 50px; width: auto;">
            </a>
            
            <!-- <a href="https://www.paypal.me/123youbeatme" target="_blank" rel="noopener noreferrer">
                <img src="https://www.paypalobjects.com/webstatic/icon/pp258.png" 
                     alt="Donate with PayPal" 
                     style="height: 50px; width: auto;">
            </a> -->
            <b>{{ SHARE_MSG }}</b>

            <div style="display: flex; gap: 10px; align-items: center;">     
                <a href="https://twitter.com/intent/tweet?text=Check%20this%20out!" 
                   target="_blank" 
                   rel="noopener noreferrer">
                    <img src="https://abs.twimg.com/favicons/twitter.2.ico" 
                         alt="Tweet" 
                         style="width: 32px; height: 32px;">
                </a>
                
                <div class="fb-like" 
                     data-href="https://cattboy.github.io/NBN_RSP_Display/" 
                     data-layout="button_count" 
                     data-action="like" 
                     data-size="small" 
                     data-share="false">
                </div>
            </div>

            <a href="https://www.reddit.com/submit" 
            onclick="window.open('https://www.reddit.com/submit?url=' + encodeURIComponent('https://cattboy.github.io/NBN_RSP_Display/') + '&title=' + encodeURIComponent('NBN RSP Speed & Price Comparison'), '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=800'); return false;">
             <img src="https://www.redditstatic.com/spreddit10.gif" 
                  alt="Share on Reddit">
            </a>

        </div>
    </div>


    <!-- Facebook -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" 
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v17.0" nonce="FbNonce">
    </script>

    <!-- Twitter -->
    <script>!function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
    }
    }(document, "script", "twitter-wjs");</script>

    <!-- REDDIT -->
    <script type="text/javascript">
        (function() {
            var reddit = document.createElement('script');
            reddit.type = 'text/javascript';
            reddit.async = true;
            reddit.src = 'https://www.redditstatic.com/button/button1.js';
            document.getElementsByTagName('head')[0].appendChild(reddit);
        })();
    </script>



</body>
</html>



<!-- 



<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>NBN RSP Speed & Price Comparison</title>
    <style>
        table {
            border-collapse: collapse;
            width: 80%;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        .container {
            text-align: center;
            margin: 20px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.32/angular.min.js"></script>
    <script src="js/controller.js"></script>
</head>


<body ng-controller="ContactController">
    <div class="container">
        <h1>Contact Directory</h1>
        
        <table class="contact-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Website</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in contacts | orderBy:'name'">
                    <td style="text-align:left">{{contact.name}}</td>
                    <td>{{contact.phone}}</td>
                    <td><a href="{{contact.website}}" target="_blank">Visit Website</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html> -->